@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Poppins", sans-serif;

  background: #e7ecff;
  /* background: -moz-linear-gradient(
    301deg,
    rgb(197, 162, 255) 0%,
    rgb(52, 50, 172) 100%
  );
  background: -webkit-linear-gradient(
    301deg,
    rgb(197, 162, 255) 0%,
    rgb(52, 50, 172) 100%
  );
  background: linear-gradient(
    301deg,
    rgb(197, 162, 255) 0%,
    rgb(52, 50, 172) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c6c6ff",endColorstr="#dbdbff",GradientType=1); */
}

html,
html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -moz-osx-font-smoothing: grayscale;
}

.blur-background {
  background: radial-gradient(
    circle,
    rgba(23, 3, 252, 0.6) 0%,
    transparent 70%
  );
  backdrop-filter: blur(100px);
  filter: blur(10px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blur-background2 {
  background: radial-gradient(
    circle,
    rgba(173, 3, 252, 0.6) 0%,
    transparent 70%
  );
  backdrop-filter: blur(100px);
  filter: blur(10px);
  position: absolute;
  top: 70%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.blur-background3 {
  background: radial-gradient(circle, rgba(26, 61, 220, 1) 0%, transparent 70%);
  backdrop-filter: blur(10px);
  filter: blur(0px);
  position: absolute;
  top: 50%;
  left: 71%;
  transform: translate(-50%, -50%);
}

@keyframes grow {
  0% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 0.1;
  }
  25% {
    transform: scale(1.05) translate(-50%, -50%);
    opacity: 0.2;
  }
  50% {
    transform: scale(1.1) translate(-50%, -50%);
    opacity: 0.3;
  }
  75% {
    transform: scale(1.05) translate(-50%, -50%);
    opacity: 0.2;
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 0.1;
  }
}

.animate-grow {
  animation: grow 10s ease-in-out infinite;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1000, 1fr);
  grid-template-rows: repeat(1000, 1fr);
  gap: 0px;
}

.grid-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: repeating-linear-gradient(
      rgba(255, 255, 255, 0.4) 0,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px,
      transparent 80px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.4) 0,
      rgba(249, 250, 255, 0.6) 1px,
      transparent 1px,
      transparent 80px
    );
}

.grid-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 0%,
    rgb(231, 236, 255, 0.4) 50%,
    rgb(183, 190, 214) 100%
  );
  pointer-events: none;
}
